.postHeader {
  display: flex;
  margin: 0.5rem 0 0.5rem 1.2rem;
  align-items: flex-end;
  height: 4vh;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  h3 {
    margin-left: 1rem;
  }
}

.postImage {
  border: 1px solid lightgrey;
}
