.postContainer {
  width: 100vw;
}

.postHeader {
  display: flex;
  width: 100%;
  height: 5vh;
  padding: 0 0 0 3%;
  align-items: flex-end;
  // border: 3px dotted black;
  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
  }
  h3 {
    margin-left: 1rem;
  }
}

.postImage {
  margin: 2.5% 0;
  border: 1px solid lightgrey;
  width: 100%;
}

.below-image {
  margin: 0 5%;
  font-size: 1.6rem;
}

.post-footer {
  .icons {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    .icon {
      width: 2.5rem;
      height: 2.5rem;
      // color: white;
      // border-width: 1px;
      // border-color: black;
    }
  }
  .likes {
    margin-left: 2%;
  }
}

.comments {
  .view-more-comments {
    border: none;
    background: none;
    color: grey;
    margin: 3% 0;
  }
}
